body {
    margin: 0 auto;
}
.hundered{
	width:100%;
	float:left;
    background-color: #fae6f4;
}
.ninenty{
	width:90%;
	margin:0 auto;
}
.twenty {
    width: 20%;
    float: left;
}
.eighty {
    width: 80%;
    float: right;
}

li.hh {
    padding: 2px 0 0 126px;
    font-size: 20px;
}
ul.menu li a {
    text-decoration: none;
    color: #161615;
}
img.image1 {
    width: 86px;
}
ul.menu {
    list-style-type: none;
    display: inline-flex;
    padding-top: 25px;
}
.dropdown {
  color: white;
  position : relative;
  border: none;
   margin: 0px 0 0 126px;
    font-size: 20px;
}
ul.dropdown-content {
    position: absolute;
    left: 0;
    top: 24px;
    border: 1px solid #ccc;
    display: none;
    height: 92px;
    width: 89px;
	background-color: blanchedalmond;
    list-style-type: none;
	    
}
li.dropdown:hover ul.dropdown-content {
    display: block;
}
a.aa:hover {
    color: black;
    background-color: beige;
}

/*** class hundred completed here ***/

.main_content1 {
    background-image: url("../assets/imgg1.jpg");
    width: 100%;
    float: left;
    height: 502px;
    background-position: center;
    background-size: cover;
}
.image {
    width: 50%;
    float: right;
}

	img.image2 {
    float: left;
    width: 100%;
    padding-top: 25px;
}
.text {
    width: 50%;
    float: left;
}
p.txt {
    
    font-size: 60px;
}
button.button1 {
    float: left;
    width: 171px;
    height: 61px;
    border-radius: 30px;
    border: 5px solid #dd1ba2;
    background-color: #ff00d81f;
    color: #282424;
    font-size: 18px;
}
.btn {
    padding-left: 40px;
}




/**main_content_1 completed here**/

.main_content2 {
    background-image: url("../assets/back3.jpg");
    width: 100%;
    float: left;
    height: 826px;
    background-position: center;
    background-size: cover;
}
.image1 {
    width: 50%;
    float: left;
}
.text1 {
    width: 50%;
    float: right;
}
img.image3 {
    width: 105%;
    padding-top: 66px;
    margin-left: -63px;
}
p.kj {
    padding-left: 55px;
    font-size: 36px;
    color: black;
}
h1.le {
    padding-left: 51px;
    font-size: 63px;
}
h1.le {
    padding-left: 51px;
    font-size: 63px;
}
p.op {
    margin-left: 62px;
    color: black;
    font-size: 30px;
}
i.fa.fa-headphones {
    font-size: 20px;
    color: red;
    margin-left: 91px;
    float: left;
    margin-top: 5px;
    padding: 0 13px 4px 4px;
}
p.ha {
    margin-top: 33px;
    padding: 0px 8px 9px 2px;
    color: red;
    font-size: 18px;
}
i.fa.fa-check {
    float: left;
    margin-left: 29px;
    color: red;
    font-size: 27px;
    padding: 0 13px 4px 4px;
    margin-top: 20px;
}
p.zz {
    font-size: 20px;
    margin-top: 34px;
}
p.zc {
    font-size: 19px;
    margin-top: 32px;
}
/*maincontent2 completed here*/

.section {
    width: 100%;
    float: left;
    padding-bottom: 85px;
}
.section1 {
    width: 29%;
    float: left;
	border: 1px solid #ccc;
}
.section2 {
    width: 29%;
    border: 1px solid #ccc;
    float: left;
    margin-left: 76px;
}
.section3 {
    width: 29%;
    float: right;
	border: 1px solid #ccc;
}
p.tt:hover {
    color: deeppink;
}
p.tt {
    text-align: center;
    font-size: 50px;
}
img.ph1 {
    height: 301px;
    padding-top: 30px;
}
img.ph2{
    height: 301px;
	padding-top: 30px;
}
img.ph3 {
    height: 301px;
	padding-top: 30px;
}
.section {
    width: 100%;
    float: left;
}
.brands {
    width: 100%;
    float: left;
    padding-bottom: 100px;
    padding-top: 36px;
	background-color: beige;
}
.realme{
    width: 25%;
    float: left;
}
.apple{
	width:25%;
	float:left;
}
.oneplus{
	width:25%;
	float:left;
}
.vivo{
	width:25%;
	float:right;
}
img.v1 {
    width: 140px;
}
	

img.v1 {
    width: 140px;
    padding-left: 62px;
}
p.gf {
    text-align: center;
    font-size: 58px;
    color: hotpink;
}
.top {
    padding-top: 45px;
   
}
p.jk {
    font-size: 20px;
    text-align: center;
}
p.rp {
    text-align: center;
    font-size: 25px;
}
/*section complete here*/



.footer {
    width: 100%;
    float: left;
    background-color: darkblue;
    color: white;
}
.foot_section1 {
    width: 20%;
    float: left;
}
p.de {
    font-size: 22px;

}
p.te {
    font-size: 15px;
    line-height: 2;
}
.foot_section2 {
    float: left;
    width: 20%;
	padding-left:30px;
}
p.le {
    
    font-size: 15px;
    padding-left: 20px;
	 line-height: 2;
}
p.me {
    padding-left: 20px;
    font-size: 23px;
}
.foot_section3 {
    width: 20%;
    float: left;
		padding-left:60px;
}
p.about {
    font-size: 23px;
    
}

.foot_section4 {
    width: 30%;
    float: right;
}
p.nw {
    font-size: 23px;
}
p.paragraph1 {
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}
ul.parha {
    line-height: 2;
    font-size: 14px;
   
    padding-left: 0;
}
i.fa.fa-star {
    color: orangered;
    padding-left: 2px;
    font-size: 18px;
}
input.eml {
    text-align: center;
    width: 215px;
    height: 40px;
    font-size: 17px;
    color: white;
    border: white;
    padding-top: 0px;
    background-color: #e17c44;
	
}
i.fa.fa-facebook-square {
    font-size: 25px;
	color:white;
}
i.fa.fa-linkedin-square {
    font-size: 25px;
	padding-left: 4px;
	
}
i.fa.fa-instagram {
    font-size: 25px;
	padding-left: 4px;
	
}
i.fa.fa-youtube-square {
    font-size: 25px;
	padding-left: 4px;
	
}
/*footer section completed here*/
.footer_sub {
    float: left;
    width: 100%;
    background-color: darkorange;
}
p.footsub {
    text-align: center;
    background-color: darkorange;
}
